body {
    background-color: #E8C3D3;
}

body h1 {
    margin: 0px;
    color: #C56991;
}

body h4 {
    margin: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.firstPageImage {
    object-fit: contain;
    height: 400px;
}

@media (min-width: 480px) {
    body {
        background-color: green;
    }
}

.nextButton {
    display: flex;
    align-items: center;
    background-color: #C56991;
    border-radius: 10px;
    padding: 0px 10px;
}

#nextButtonImg {
    height: 50px;
}

.textNextButton {
    font-size: 20px;
}