body {
    background-color: #E8C3D3;
    font-family: Arial, Helvetica, sans-serif;
}

body h1 {
    margin: 0px;
    color: #C56991;
}

body h4 {
    margin: 0px;
}

#containerFirstPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.firstPageImage {
    object-fit: contain;
    height: 400px;
}

.nextButton {
    display: flex;
    align-items: center;
    background-color: #C56991;
    border-radius: 10px;
    padding: 0px 10px;
}

#nextButtonImg {
    height: 50px;
}

.textNextButton {
    font-size: 20px;
}


/* HOMPAGE */
#containerHomePage {
    display: none;
    flex-direction: column;

}

#logo {
    font-size: 30px;
    margin: 0px;
}

#homePageText {
    font-size: 20px;
    text-align: center;
}

#chooseCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    align-items: center;

}

.cardsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 40%;
    height: 120px;
    padding: 10px;
    box-shadow: 3px 6px #C56991;
}

.cardsText {
    font-size: 23px;
    margin: 0px;
    text-align: center;
}

.cardImg {
    height: 80px;
}


@media (min-width: 480px) {
    body {
        background-color: green;
    }
}